Repository MogakGround/Mogak-Client, pull requests merged in 2025-03, with the labels that each got.

#31 🪄 Feat: 유저 회원가입 및 로그인 API 연결
  package-lock.json
  package.json
  public/images/spinner.gif
  src/app/api/auth/api.ts
  src/app/api/auth/auth.types.ts
  src/app/api/axiosInstance.ts
  src/app/api/user/api.ts
  src/app/api/user/user.types.ts
  src/app/auth/components/NicknameInput.tsx
  src/app/auth/components/PortfolioInput.tsx
  src/app/auth/components/SignUpButtonGroup.tsx
  src/app/auth/components/SignUpComplete.tsx
  src/app/auth/components/SignUpCompleteOption.tsx
  src/app/auth/components/SignUpForm.tsx
  src/app/auth/components/SignUpModal.tsx
  src/app/auth/kakao/callback/page.tsx
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/assets/svg/good-accent.svg
  src/assets/svg/user-profile.svg
  src/components/auth/NicknameInput.tsx
  src/components/auth/SignUpCompleteOption.tsx
  src/components/auth/SignUpForm.tsx
  src/components/auth/SignUpModal.tsx
  src/components/global/modal/Modal.tsx
  src/components/global/toast/AutoDisappearIconToast.tsx
  src/components/global/toast/IconToast.tsx
  src/components/global/toast/hooks/useToast.tsx
  src/components/global/toast/toast.style.tsx
  src/components/global/toast/toast.types.ts
  src/components/layout/GNB.tsx
  src/store/authStore.ts
  src/store/userStore.ts
Labels: 🔗 Api, 🪄 Feat, ⚒️ Refactor

#34 ⚒️ Refactor: axios instance 커스텀
  src/app/api/api.types.ts
  src/app/api/auth/api.ts
  src/app/api/auth/auth.types.ts
  src/app/api/axiosInstance.ts
  src/app/api/user/api.ts
  src/app/api/user/user.types.ts
  src/app/auth/components/SignUpForm.tsx
  src/app/auth/components/SignUpModal.tsx
  src/app/auth/kakao/callback/page.tsx
  src/store/userStore.ts
Labels: ⚒️ Refactor

#41 🪄 Feat: 모각방 생성 기능 구현
  src/app/api/room/api.ts
  src/app/api/room/room.types.ts
  src/app/room/new/components/CreateRoomBtnGroup.tsx
  src/app/room/new/components/CreateRoomModal.tsx
  src/app/room/new/components/CreateRoomStep1.tsx
  src/app/room/new/components/CreateRoomStep2.tsx
  src/app/room/new/components/CreateRoomStep3.tsx
  src/app/room/new/components/RoomDescription.tsx
  src/app/room/new/components/RoomName.tsx
  src/app/room/new/components/RoomPrivacyToggle.tsx
  src/app/room/new/components/WorkTimeTag.tsx
  src/app/room/new/components/hooks/useCreateRoom.tsx
  src/app/room/new/components/hooks/useCreateRoomStep3.tsx
  src/app/room/new/page.tsx
  src/components/room/new/hooks/useCreateRoomStep3.tsx
  src/constants/Room.tsx
Labels: 🔗 Api, 🪄 Feat

#39 🐛 Fix: 유저 토큰 쿠키로 저장방식 변경
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/api/auth/api.ts
  src/app/api/auth/auth.types.ts
  src/app/api/axiosInstance.ts
  src/app/auth/components/SignUpModal.tsx
  src/app/auth/kakao/callback/page.tsx
  src/app/page.tsx
  src/components/layout/GNB.tsx
  src/components/layout/components/HeaderProfile.tsx
  src/store/authStore.ts
  src/store/userStore.ts
Labels: 🐛 Fix

#42 🪄 Feat: 랭킹 리스트 및 나의 순위 조회 기능 구현
  src/app/api/user/api.ts
  src/app/api/user/user.types.ts
  src/app/rank/components/MyRank.tsx
  src/app/rank/components/RankBanner.tsx
  src/app/rank/components/TimeDisplay.tsx
  src/app/rank/components/rankItem.tsx
  src/app/rank/components/rankList.tsx
  src/app/rank/hooks/useFetchRank.tsx
  src/app/rank/page.tsx
  src/components/rank/MyLank.tsx
  src/components/rank/rankList.tsx
Labels: 🔗 Api, 🪄 Feat
